{% include 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <nav>
        <ul>
            {% if 'ROLE_ADMIN' in userRoles %}
                <li>
                    <a href="{{ path('app_user_index') }}">
                        user
                    </a>

                </li>
            {% endif %}
            {% if 'ROLE_SALES' in userRoles %}
                <li>
                    <a href="{{ path('app_art_index') }}">
                        art
                    </a>

                </li>
                <li>
                    <a href="{{ path('app_artist_index') }}">
                        artist
                    </a>

                </li>
                <li>
                    <a href="{{ path('app_sale_event_index') }}">
                        sale event
                    </a>

                </li>
                <li>
                    <a href="{{ path('app_sale_event_entry_index') }}">
                        sale event entry
                    </a>

                </li>
            {% endif %}
            <li>
                <a href="{{ path('app_logout') }}">
                    Log out
                </a>

            </li>
        </ul>
    </nav>
    <hr>
    <h1>Welcome to our Art Gallery</h1>


{% endblock %}
