{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    {% include 'default/nav.html.twig' %}

    <h1>Active Orders</h1>

    <table class="active-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Art</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

            {% for order in orders %}
                {% if order.status == 'Active' %}

                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.art }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        {% if 'ROLE_CUSTOMER' in userRoles %}
                            <a href="{{ path('app_order_cancel', {'id': order.id}) }}">cancel</a>
                        {% endif %}
                        {% if 'ROLE_SALES' in userRoles %}
                            <a href="{{ path('app_order_approve', {'id': order.id}) }}">approve</a>
                            <a href="{{ path('app_order_reject', {'id': order.id}) }}">reject</a>
                        {% endif %}
                    </td>
                </tr>

                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h1>Inactive Orders</h1>
    <table class="inactive-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Art</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                {% if order.status != 'Active' %}

                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.art }}</td>
                    <td>{{ order.status }}</td>
                </tr>

                {% endif %}

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
