{% extends 'base.html.twig' %}

{% block title %}Art index{% endblock %}

{% block body %}
    {% include 'default/nav.html.twig' %}

    <h1>Art index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Year</th>
            <th>Price</th>
            <th>Sale Event</th>
            <th>IsAvailable</th>
            <th>Artist</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for art in art %}
            <tr>
                <td>{{ art.id }}</td>
                <td>{{ art.title }}</td>
                <td>{{ art.description }}</td>
                <td>{{ art.year }}</td>
                <td>{{ art.price }}</td>
                <td>{{ saleEvent }}</td>
                <td>{{ art.isAvailable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_artist_show', {'id': art.artist.id}) }}">{{ art.artist }}</a>
                </td>
                <td>
                    <a href="{{ path('app_order_new', {'artId': art.id}) }}">place order</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
