{% extends 'base.html.twig' %}

{% block title %}Intensity index{% endblock %}

{% block body %}
    <h1>Intensity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intensity in intensities %}
            <tr>
                <td>{{ intensity.id }}</td>
                <td>{{ intensity.name }}</td>
                <td>
                    <a href="{{ path('app_intensity_show', {'id': intensity.id}) }}">show</a>
                    <a href="{{ path('app_intensity_edit', {'id': intensity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intensity_new') }}">Create new</a>
{% endblock %}
