{% extends 'base.html.twig' %}

{% block title %}Intensity{% endblock %}

{% block body %}
    <h1>Intensity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intensity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ intensity.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_intensity_index') }}">back to list</a>

    <a href="{{ path('app_intensity_edit', {'id': intensity.id}) }}">edit</a>

    {{ include('intensity/_delete_form.html.twig') }}
{% endblock %}
